@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  /* background: linear-gradient(90deg, #d4d4d4, #fff 10% 90%, #e0e7ff); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.cards-container {
  padding-top: 20px;
  margin: 0 auto;
  position: relative;
  width: 1000px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  height: 250px;
  width: 180px;
  margin: 5px;
  cursor: pointer;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  transition: 0.2s;
}

.front {
  background: linear-gradient(-45deg, #24188b, #1276c7);
  z-index: 2;
  padding: 2px;
}

.inner-front {
  width: 100%;
  height: 100%;
  background: url("../img/bg.svg");
  padding: 5px;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: #b6d3ff;
  border: 2px solid #a4bde2;
}

.back img {
  top: 0;
  height: 120px;
  width: 120px;
}

.start-container {
  padding-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  position: relative;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(45deg, #4f63d8, #131174);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  z-index: 5;
}

.btn {
  width: 150px;
  height: 40px;
  background: none;
  border: 2px solid #4f63d8;
  color: #4f63d8;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  margin-top: 40px;
  transition: 0.2s;
}

.btn:hover {
  box-shadow: 0px 0px 3px 1px #4f63d8;
  font-weight: bold;
}

.cards-container .title {
  text-align: center;
  width: 100%;
  font-size: 43px;
  margin-bottom: 30px;
}

.timer {
  position: absolute;
  width: 200px;
  top: 68px;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
  justify-content: center;
  font-size: 28px;
  font-weight: 600;
  color: #3649b4;
}

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  display: none;
  align-items: center;
  text-transform: uppercase;
  flex-direction: column;
  z-index: 10;
}

.modal h1 {
  margin-top: 130px;
  font-size: 70px;
  color: #df4242;
}

.modal button {
  border: 2px solid #42df42;
  color: #42df42;
  cursor: pointer;
  transition: .2s;
}

.modal button:hover {
  box-shadow: none;
  transform: scale(1.1);
}

.mode-container {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.mode-container h1 {
  color: #909bda;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 20px;
}

.mode-form {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.mode-radio-btn {
	display: inline-block;
}

.mode-radio-btn input[type=radio] {
	display: none;
}

.mode-radio-btn label {
  color: #131174;
  width: 120px;
	display: flex;
  justify-content: center;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #4f63d8;
	user-select: none;
}

/* Checked */
.easy-btn input[type=radio]:checked + label {
	background: #e5e8fd;
}
.normal-btn input[type=radio]:checked + label {
	background: #8293f5;
  color: white;
}
.hard-btn input[type=radio]:checked + label {
	background: #4861f1;
  color: white;
}

/* Hover */
.mode-radio-btn label:hover {
	color: #666;
}

/* Disabled */
.mode-radio-btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}

.results {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #949bc5;
  margin-top: 100px;
  color: #131a46;
  /* padding-bottom: 10px; */
}

caption {
  font-weight: 600;
  border: 1px solid #949bc5;
  border-bottom: none;
  font-size: 24px;
  color: #3649b4;
  padding: 10px 0;
}

.results th {
  font-weight: 600;
  padding: 5px;
  color: #7480c7;
}

.results td {
  padding: 5px;
  text-align: center;
}

.center {
  text-align: center;
}

.empty-row {
  color: #a2a4b3;
  font-size: 20px;
}

.get-name {
  display: flex;
}

.get-name-container {
  width: 400px;
  height: 200px;
  background: white;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  /* box-shadow: -2px -2px 0px 2px #7480c7, 2px 2px 0px 2px #485492; */
  border-top: 4px solid #7480c7;
  border-left: 4px solid #7480c7;
  border-right: 4px solid #485492;
  border-bottom: 4px solid #485492;
}

.get-name-container .title {
  font-size: 24px;
}

.name-input {
  height: 40px;
  width: 280px;
  padding-left: 10px;
  outline: none;
  margin: 15px 0;
  color: #131a46;
}

.modal .save-name-btn {
  height: 40px;
  width: 140px;
  border-color: #7480c7;
  color: #7480c7;
  background: none;
}

.error-name-msg {
  font-size: 10px;
  color: #d34545;
  margin-top: 7px;
}

.welcome {
  display: none;
  position: absolute;
  left: 40px;
  top: 0;
  padding: 8px 23px;
  background: #131174;
  color: white;
  /* #4f63d8, #131174 */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.edit-name-btn {
  position: absolute;
  height: 30px;
  width: 30px;
  background: #131174;
  border-radius: 50%;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2px;
  right: -34px;
  cursor: pointer;
}

.edit-name-btn img {
  height: 50%;
  width: 50%;
}

.edit-name-btn:hover {
  opacity: 0.7;
}
